<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        /* Grid Layout */
        .container {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 20px;
        }
        /* Menu */
        .menu {
            grid-column: 1 / 2;
        }
        /* Main */
        .main {
            grid-column: 2 / 3;
        }
    </style>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="menu">
            {# This is where the menu block will go #}
            {% block menu %}{% endblock %}
        </div>
        <div class="main">
            {# This is where the body block will go #}
            {% block body %}{% endblock %}
        </div>
</body>
</html>